<footer class="footer">
    <div class="row">
        <div class="col-md-8">
            <h2 class="heading">Want to work together?</h2>
            <h2 class="sub-heading">Want to discuss something?</h2>
            <div class="button"><app-button title="Get in touch" [routerLink]="['contact']"></app-button></div>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a href="mailto:adarshsrivastava1996@gmail.com"><img src="https://img.icons8.com/color/48/000000/gmail.png"/> adarshsrivastava1996</a></li>
                <li><a href="https://www.linkedin.com/in/adarsh-srivastava-0a35bb144" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png"/> On LinkedIn</a></li>
                <!-- <li class="facebook"><a href="https://www.facebook.com/adarshsrivastava1996" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook-new.png"/> On Facebook</a></li>
                <li class="instagram"><a href="https://www.instagram.com/adst1996/" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new.png"/> On Instagram</a></li> -->
                <li><a href="https://github.com/AdarshS1996" target="_blank"><img src="https://img.icons8.com/color/48/000000/github.png"/> On Github</a></li>
                <li><a href="https://codepen.io/AdarshS1996" target="_blank"><img src="https://img.icons8.com/color/48/000000/codepen.png"/> On Codepen</a></li>

            </ul>
        </div>
    </div>
</footer>
<footer class="sub-footer">No copyright &copy; 2020 Adarsh. Feel free to copy.</footer>
