header {
    background-color: #0d1c23;
    top: 0;
    padding-top: 3em;
    height: 384px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
}

.heading {
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    animation-name: move-from-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.sub-heading {
    color: #f1f1f1;
    margin-top: 1.5em;
    font-size: 2rem;
    animation-name: move-from-bottom;
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0.75 !important;
}

.project-section {
    padding: 2em 0em 0em 0em;
}

.featured-project-heading {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    padding-bottom: .75em;
    width: 50%;
}

.row {
    background-color: #f9f9f9;
    clip-path: polygon(0 0, 100% calc(0% + 50px), 100% 100%, 0 calc(100% - 50px));
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.card {
    border: none;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.8;
    width: 10%;
}

.carousel-control-prev-icon {
    height: 28px;
    width: 28px;
    background-image: url("https://img.icons8.com/ios/50/000000/back--v1.png");
}

.carousel-control-next-icon {
    height: 28px;
    width: 28px;
    background-image: url("https://img.icons8.com/ios/50/000000/forward--v1.png");
}

.my-work {
    font-weight: bold;
    text-indent: 0em !important;
}

.project-sub-heading {
  line-height: 1.75em;
  text-indent: 1.5em;
  text-align: justify;
  font-size: 1.25em;
  padding-top: .5em;
  opacity: 0.75;
}

.project-icon {
    width: 24px;
}

.more-projects {
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .image-section {
        height: 35vh;
    }

    .project-sub-heading {
        font-size: 1.3em;
    }
  }

@media screen and (max-width: 455px) {
    header {
        padding-top: 4.5em;
    }

    .heading {
        font-size: 2.75rem;
    }
    
    .sub-heading {
        margin-top: 2.5em;
        font-size: 1.5em;
    }

    .featured-project-heading {
        font-size: 1.5em;
    }
}