<header>
    <div class="col-md-12">
        <h2 class="heading">Projects</h2>
    </div>
    <div class="col-md-12">
        <h2 class="sub-heading">For the past 1 year I’ve been designing and developing web applications and APIs. Below
            are some of my favourites.</h2>
    </div>
</header>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Project kickoff and billing application
    </div>
  
    <hr>
<section class="row">
    <div class="col-md-6">
        <div id="carouselExampleControls2" class="carousel slide card" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/projects/kickoff-1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/kickoff-2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/kickoff-3.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-sub-heading">A web application to keep and maintain the record for all customers, sales 
            and delivery contacts, projects and corresponding SOWs.</div>
          <div class="project-sub-heading my-work">My work:</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/c-sharp-logo.png" /> C sharp (.NET core)</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/api.png" /> Rest API development</div>
            <div class="project-sub-heading"><img class="project-icon" 
                src="https://img.icons8.com/color/96/000000/source-code.png" /> Hangfire</div>
        <div class="project-sub-heading"><img class="project-icon" src="https://img.icons8.com/color/96/000000/bug.png" />
          Bug fixes</div>
          <div class="project-sub-heading my-work">My experience:</div>
          <div class="project-sub-heading">July, 2019 - November, 2019 (5 months)</div>
    </div>
</section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Squirrel Cloud - POS
    </div>
  
    <hr>
<section class="row">
    <div class="col-md-6">
        <div id="carouselExampleControls1" class="carousel slide card" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/projects/squirrel-1.PNG" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/squirrel-2.PNG" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/squirrel-3.PNG" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-sub-heading">A next generation hospitality Cloud POS system that provides restaurants the
          freedom to innovate and create unique guest experiences.</div>
          <div class="project-sub-heading my-work">My work:</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/angularjs.png" /> Angular framework</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/source-code.png" /> Module development</div>
        <div class="project-sub-heading"><img class="project-icon" src="https://img.icons8.com/color/96/000000/bug.png" />
          Bug fixes</div>
          <div class="project-sub-heading my-work">My experience:</div>
          <div class="project-sub-heading">December, 2019 - Present</div>
    </div>
</section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        A shop
    </div>
  
    <hr>
<section class="row">
    <div class="col-md-6">
        <div id="carouselExampleControls3" class="carousel slide  card" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/projects/ashop-1.PNG" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/ashop-2.PNG" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/ashop-3.PNG" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-sub-heading">An e-commerce web application which includes angular framework learnings and how to use google firebase APIs in an angular applicaton.</div>
          <div class="project-sub-heading my-work">My work:</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/angularjs.png" /> Angular framework</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/source-code.png" /> Module development</div>
        <div class="project-sub-heading"><img class="project-icon" src="https://img.icons8.com/color/96/000000/firebase.png" />
          Google firebase APIs</div>
          <div class="project-sub-heading my-work">My experience:</div>
          <div class="project-sub-heading">April, 2020 - May, 2020 (1 month)</div>
    </div>
</section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Rolling projection and deployment automation
    </div>
  
    <hr>
<section class="row">
    <div class="col-md-6">
        <div id="carouselExampleControls4" class="carousel slide  card" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../assets/projects/rpad-1.PNG" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/rpad-2.PNG" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../assets/projects/rpad-3.PNG" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="project-sub-heading">A web application to automate the rolling projection and deployment processes.</div>
          <div class="project-sub-heading my-work">My work:</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/angularjs.png" /> Angular framework</div>
        <div class="project-sub-heading"><img class="project-icon"
            src="https://img.icons8.com/color/96/000000/source-code.png" /> Module development</div>
        <div class="project-sub-heading"><img class="project-icon" src="https://img.icons8.com/color/96/000000/bug.png" />
          Bug fixes</div>
          <div class="project-sub-heading my-work">My experience:</div>
          <div class="project-sub-heading">May, 2020 - June, 2020 (1 month)</div>
    </div>
</section>
</section>

<section class="row more-projects">
    Stay tuned for more upcoming projects...
</section>