header {
    background-color: #0d1c23;
    top: 0;
    padding-top: 3em;
    height: 384px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
}

.heading {
    color: #f1f1f1;
    font-size: 4rem;
    font-weight: bold;
    animation-name: move-from-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.sub-heading {
    color: #f1f1f1;
    margin-top: 1.5em;
    font-size: 2rem;
    animation-name: move-from-bottom;
    animation-duration: 1s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0.75 !important;
}

.project-section {
    padding: 2em 0em 0em 0em;
}

.featured-project-heading {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    padding-bottom: .75em;
    width: 50%;
}

.row {
    background-color: #f9f9f9;
    clip-path: polygon(0 0, 100% calc(0% + 50px), 100% 100%, 0 calc(100% - 50px));
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.margin-bottom {
    margin-bottom: 2em;
}

.text-area {
    width: 100%;
    min-height: 200px;
    max-height: 450px;
}

.form-logo {
    width: 24px;
}

.input-group, textarea {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-group-text {
    border: none;
    border-radius: 0px;
    padding: 0.75em 1em;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 18px;
}

input[type=text], textarea {
    padding: 1.75em;
    border: 0px;
    border-radius: 0px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 179, 68, 0.75)
}

.validation-error {
    color: red;
    font-size: 12px;
    padding-top: 0.5em;
}

.input-validation {
    border: 1px solid red !important;
}

.button {
    text-align: center;
    padding: 1.5em 0em 0em 0em;
}

span {
    color: red;
}

.success-alert {
    padding: 3em 1em 0em 1em;
    text-align: center;
    animation: move-from-top 1s;
}

.thumps-up {
    width: 50px;
    padding-bottom: 0.5em;
}

@media screen and (max-width: 455px) {
    header {
        padding-top: 4.5em;
    }

    .heading {
        font-size: 2.75rem;
    }
    
    .sub-heading {
        margin-top: 2.5em;
        font-size: 1.5em;
    }

    .featured-project-heading {
        font-size: 1.5em;
    }

    label {
        font-size: 14px;
    }
}