<header>
    <div class="col-md-12">
        <h2 class="heading">Services</h2>
    </div>
    <div class="col-md-12">
        <h2 class="sub-heading">I like to make things look professional and fast.</h2>
    </div>
</header>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Programming languages
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/typescript.png" /></div>
                    <div class="card-title service-heading">Typescript</div>
                    <hr>
                    <div class="card-text service-sub-heading">Typescript is a programming language. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title logo-margin service-heading"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/c-sharp-logo.png" /></div>
                    <div class="card-title service-heading">C sharp</div>
                    <hr>
                    <div class="card-text service-sub-heading">C sharp is a programming language. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/python.png" /></div>
                    <div class="card-title service-heading">Python</div>
                    <hr>
                    <div class="card-text service-sub-heading">Python is a programming language. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Back-end
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/source-code.png" /></div>
                    <div class="card-title service-heading">.NET core</div>
                    <hr>
                    <div class="card-text service-sub-heading">.NET core is a framework. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Front-end
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/nodejs.png" /></div>
                    <div class="card-title service-heading">Node.js</div>
                    <hr>
                    <div class="card-text service-sub-heading">Node.js is a framework. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/angularjs.png" /></div>
                    <div class="card-title service-heading">Angular</div>
                    <hr>
                    <div class="card-text service-sub-heading">Angular is a framework. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/html-5.png" /></div>
                    <div class="card-title service-heading">HTML 5</div>
                    <hr>
                    <div class="card-text service-sub-heading">HTML is a markup languages. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/css3.png" /></div>
                    <div class="card-title service-heading">CSS 3</div>
                    <hr>
                    <div class="card-text service-sub-heading">CSS is a designing. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/sass.png" /></div>
                    <div class="card-title service-heading">SASS/SCSS</div>
                    <hr>
                    <div class="card-text service-sub-heading">SASS/SCSS is a designing. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Database
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/microsoft-sql-server.png" /></div>
                    <div class="card-title service-heading">Microsoft SQL server</div>
                    <hr>
                    <div class="card-text service-sub-heading">Microsoft SQL server is a database. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Cloud
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/firebase.png" /></div>
                    <div class="card-title service-heading">Google firebase</div>
                    <hr>
                    <div class="card-text service-sub-heading">Google firebase is a cloud. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/azure-1.png" /></div>
                    <div class="card-title service-heading">Microsoft azure</div>
                    <hr>
                    <div class="card-text service-sub-heading">Microsoft azure is a cloud. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Others
    </div>

    <hr>
    <section class="row">
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/npm.png" /></div>
                    <div class="card-title service-heading">NPM</div>
                    <hr>
                    <div class="card-text service-sub-heading">NPM is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/bootstrap.png" /></div>
                    <div class="card-title service-heading">Bootstrap</div>
                    <hr>
                    <div class="card-text service-sub-heading">Bootstrap is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/source-code.png" /></div>
                    <div class="card-title service-heading">Hangfire</div>
                    <hr>
                    <div class="card-text service-sub-heading">Hangfire is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/bubbles/96/000000/sendgrid.png" /></div>
                    <div class="card-title service-heading">Sendgrid</div>
                    <hr>
                    <div class="card-text service-sub-heading">Sendgrid is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/git.png" /></div>
                    <div class="card-title service-heading">Git</div>
                    <hr>
                    <div class="card-text service-sub-heading">Git is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/github.png" /></div>
                    <div class="card-title service-heading">Github</div>
                    <hr>
                    <div class="card-text service-sub-heading">Github is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-margin-top">
            <div class="card">
                <div class="card-body">
                    <div class="card-title service-heading logo-margin"><img class="service-heading-logo"
                            src="https://img.icons8.com/color/96/000000/authentication.png" /></div>
                    <div class="card-title service-heading">Oauth</div>
                    <hr>
                    <div class="card-text service-sub-heading">Oauth is others. Looking forward for
                        more texts.</div>
                </div>
            </div>
        </div>
    </section>
</section>