<header>
    <div class="col-md-12">
        <h2 class="heading">Switch mode</h2>
    </div>
    <div class="col-md-12">
        <h2 class="sub-heading">Dark mode is a feature that lets you switch the color theme of an app or an entire
            desktop
            operating system to black or something close to it.</h2>
    </div>
</header>

<section class="project-section">

    <div class="col-md-12 featured-project-heading">
        Dark mode
    </div>

    <hr>

    <div class="row more-projects">
        <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
            <div class="handle"></div>
        </button>
    </div>
</section>